Repository Learning-Hour-CS-Study/Learning-Hour, pull requests merged in 2025-02, with the labels that each got.

#2 [자료구조] 링크드 리스트
  1_DataStructure/2_data_struture_linked_list.md
  1_DataStructure/README.md
  1_DataStructure/img/1_linked_list.png
  1_DataStructure/img/2_linked_list.png
  1_DataStructure/img/3_linked_list.png
  1_DataStructure/img/4_linked_list.png
  2_OS/README.md
  3_Network/README.md
  4_Database/README.md
Labels: Data-Structure

#3 [리드미] 목차 내용 추가
  1_DataStructure/README.md
  README.md
Labels: Add, Readme

#4 [자료구조] 이미지 파일 경로 수정
  1_DataStructure/img/2_linked_list/1.png
  1_DataStructure/img/2_linked_list/2.png
  1_DataStructure/img/2_linked_list/3.png
  1_DataStructure/img/2_linked_list/4.png
Labels: Data-Structure, File

#5 [자료구조] 이미지 파일 경로 수정
  1_DataStructure/2_data_struture_linked_list.md
Labels: Fix, Data-Structure

#8 [은비] 스택과 큐
  1_DataStructure/1_stack_and_queue.md
  1_DataStructure/img/.DS_Store
  1_DataStructure/img/1_stack_and_queue/.DS_Store
  1_DataStructure/img/1_stack_and_queue/1.png
  1_DataStructure/img/1_stack_and_queue/10.png
  1_DataStructure/img/1_stack_and_queue/11.png
  1_DataStructure/img/1_stack_and_queue/12.png
  1_DataStructure/img/1_stack_and_queue/2.png
  1_DataStructure/img/1_stack_and_queue/3.png
  1_DataStructure/img/1_stack_and_queue/4.png
  1_DataStructure/img/1_stack_and_queue/5.png
  1_DataStructure/img/1_stack_and_queue/6.png
  1_DataStructure/img/1_stack_and_queue/7.png
  1_DataStructure/img/1_stack_and_queue/8.png
  1_DataStructure/img/1_stack_and_queue/9.png
Labels: Data-Structure, 발표

#6 [석찬] 그래프 발표 자료
  1_DataStructure/5_data_structure_graph.md
  1_DataStructure/img/5_graph/1.png
  1_DataStructure/img/5_graph/2.png
  1_DataStructure/img/5_graph/3.png
  1_DataStructure/img/5_graph/4.png
  1_DataStructure/img/5_graph/5.png
  1_DataStructure/img/5_graph/6.png
Labels: Data-Structure, 발표

#7 [장우] Red-Black 트리 발표 자료
  1_DataStructure/4_data_structure_red_black_tree.md
  1_DataStructure/img/4_red_black_tree/1.png
  1_DataStructure/img/4_red_black_tree/10.png
  1_DataStructure/img/4_red_black_tree/11.png
  1_DataStructure/img/4_red_black_tree/12.png
  1_DataStructure/img/4_red_black_tree/13.png
  1_DataStructure/img/4_red_black_tree/14.png
  1_DataStructure/img/4_red_black_tree/15.png
  1_DataStructure/img/4_red_black_tree/16.png
  1_DataStructure/img/4_red_black_tree/17.png
  1_DataStructure/img/4_red_black_tree/18.png
  1_DataStructure/img/4_red_black_tree/19.png
  1_DataStructure/img/4_red_black_tree/2.png
  1_DataStructure/img/4_red_black_tree/20.png
  1_DataStructure/img/4_red_black_tree/21.png
  1_DataStructure/img/4_red_black_tree/22.png
  1_DataStructure/img/4_red_black_tree/23.png
  1_DataStructure/img/4_red_black_tree/24.png
  1_DataStructure/img/4_red_black_tree/25.png
  1_DataStructure/img/4_red_black_tree/26.png
  1_DataStructure/img/4_red_black_tree/27.png
  1_DataStructure/img/4_red_black_tree/28.png
  1_DataStructure/img/4_red_black_tree/29.png
  1_DataStructure/img/4_red_black_tree/3.png
  1_DataStructure/img/4_red_black_tree/30.png
  1_DataStructure/img/4_red_black_tree/31.png
  1_DataStructure/img/4_red_black_tree/32.png
  1_DataStructure/img/4_red_black_tree/33.png
  1_DataStructure/img/4_red_black_tree/34.png
  1_DataStructure/img/4_red_black_tree/35.png
  1_DataStructure/img/4_red_black_tree/36.png
  1_DataStructure/img/4_red_black_tree/37.png
  1_DataStructure/img/4_red_black_tree/38.png
  1_DataStructure/img/4_red_black_tree/39.png
  1_DataStructure/img/4_red_black_tree/4.png
  1_DataStructure/img/4_red_black_tree/40.png
  1_DataStructure/img/4_red_black_tree/41.png
  1_DataStructure/img/4_red_black_tree/42.png
  1_DataStructure/img/4_red_black_tree/43.png
  1_DataStructure/img/4_red_black_tree/44.png
  1_DataStructure/img/4_red_black_tree/45.png
  1_DataStructure/img/4_red_black_tree/5.png
  1_DataStructure/img/4_red_black_tree/6.png
  1_DataStructure/img/4_red_black_tree/7.png
  1_DataStructure/img/4_red_black_tree/8.png
  1_DataStructure/img/4_red_black_tree/9.png
Labels: Data-Structure, 발표

#9 [소현] 트리 발표 자료
  1_DataStructure/3_data_struture_tree.md
  1_DataStructure/img/3_tree/1.png
  1_DataStructure/img/3_tree/2.png
  1_DataStructure/img/3_tree/3.png
  1_DataStructure/img/3_tree/4.png
  1_DataStructure/img/3_tree/5.png
  1_DataStructure/img/3_tree/6.png
  1_DataStructure/img/3_tree/7.png
  1_DataStructure/img/3_tree/8.png
Labels: Data-Structure, 발표

#10 chore: 자료구조 1주차 스터디 리드미에 목차 추가
  1_DataStructure/README.md
Labels: Add, Readme

#12 [장우] 이진탐색 발표 자료
  1_DataStructure/9_data_structure_binary_search.md
  1_DataStructure/img/9_binary_search/1.png
  1_DataStructure/img/9_binary_search/2.png
  1_DataStructure/img/9_binary_search/3.png
  1_DataStructure/img/9_binary_search/4.png
  1_DataStructure/img/9_binary_search/5.png
  1_DataStructure/img/9_binary_search/6.png
  1_DataStructure/img/9_binary_search/7.png
  1_DataStructure/img/9_binary_search/8.png
Labels: Data-Structure, 발표

#13 [은비] 힙
  1_DataStructure/6_data_structure_heap.md
  1_DataStructure/img/6_heap/1.png
  1_DataStructure/img/6_heap/10.png
  1_DataStructure/img/6_heap/2.png
  1_DataStructure/img/6_heap/3.png
  1_DataStructure/img/6_heap/4.png
  1_DataStructure/img/6_heap/5.png
  1_DataStructure/img/6_heap/6.png
  1_DataStructure/img/6_heap/7.png
  1_DataStructure/img/6_heap/8.png
  1_DataStructure/img/6_heap/9.png
Labels: Data-Structure, 발표

#14 [석찬] 완전탐색 발표 자료
  1_DataStructure/10_data_structure_brute_force.md
Labels: Data-Structure, 발표, 퀴즈

#16 [주환] 정렬 발표 자료
  1_DataStructure/7_data_structure_sort.md
  1_DataStructure/image.png
  1_DataStructure/img/7_sort/bubble_sort.gif
  1_DataStructure/img/7_sort/insertion_sort.gif
  1_DataStructure/img/7_sort/merge_sort.png
  1_DataStructure/img/7_sort/quick_sort.gif
  1_DataStructure/img/7_sort/quick_sort_best.png
  1_DataStructure/img/7_sort/quick_sort_worst.png
  1_DataStructure/img/7_sort/selection_sort.gif
Labels: Data-Structure, 발표

#17 [은비] 힙 내용 수정
  1_DataStructure/6_data_structure_heap.md
Labels: Fix, Data-Structure

#18 [주환] 파일명 수정
  1_DataStructure/02_data_structure_linked_list.md
  1_DataStructure/07_data_structure_sort.md
Labels: Fix, Data-Structure

#21 [전장우] 파일명 수정
  1_DataStructure/04_data_structure_red_black_tree.md
  1_DataStructure/09_data_structure_binary_search.md
Labels: Fix, File

#22 [소현] 파일명 수정
  1_DataStructure/03_data_structure_tree.md
  1_DataStructure/08_data_structure_Hash copy.md
Labels: Data-Structure, 발표

#25 [주환] quiz 템플릿 추가
  .github/ISSUE_TEMPLATE/quiz.md
Labels: File

#26 [은비] 파일명 수정
  1_DataStructure/01_data_structure_stack_and_queue.md
  1_DataStructure/06_data_structure_heap.md
Labels: Fix, File

#27 [소현] 파일명 수정
  1_DataStructure/3_data_struture_tree.md
  1_DataStructure/8_data_struture_Hash copy.md
Labels: File

#29 [은비] 파일 삭제
  1_DataStructure/1_stack_and_queue.md
  1_DataStructure/6_data_structure_heap.md
Labels: File

#30 [소현] 파일명 수정
  1_DataStructure/08_data_structure_hash.md
Labels: Data-Structure, File

#31 [주환] 메모리 발표 자료
  2_OS/02_os_memory.md
  2_OS/img/02_memory/os_memory_cache.png
  2_OS/img/02_memory/os_memory_cpu_cache.png
  2_OS/img/02_memory/os_memory_example.png
  2_OS/img/02_memory/os_memory_hierarchy.png
Labels: OS, 발표

#33 [주환] 메모리 quiz 추가
  2_OS/02_os_memory.md
Labels: OS, Add

#32 [소현] 프로세스와 스레드 발표 자료
  2_OS/02_os_process_thread.md
  2_OS/img/3_process_thread/1.png
  2_OS/img/3_process_thread/2.png
  2_OS/img/3_process_thread/3.png
  2_OS/img/3_process_thread/4.png
  2_OS/img/3_process_thread/5.png
Labels: OS, 발표

#35 [주환] 메모리 출처 추가
  2_OS/02_os_memory.md
Labels: OS, Add

#36 [주환] 캐시 관리 방법 내용 추가
  2_OS/02_os_memory.md
Labels: OS, Add

#37 [은비] 운영체제와 컴퓨터 발표 자료
  2_OS/01_os_os_and_computer.md
  2_OS/img/01_os_and_computer/01.png
  2_OS/img/01_os_and_computer/02.png
  2_OS/img/01_os_and_computer/03.png
  2_OS/img/01_os_and_computer/04.png
  2_OS/img/01_os_and_computer/05.png
  2_OS/img/01_os_and_computer/06.png
  2_OS/img/01_os_and_computer/07.png
  2_OS/img/01_os_and_computer/08.png
Labels: OS, 발표

#38 Zangwoo
  2_OS/4_CPU_Scheduling_Algorithm.md
  2_OS/img/4_CPU_Scheduling_Algorithm/1.jpg
  2_OS/img/4_CPU_Scheduling_Algorithm/2.jpg
  2_OS/img/4_CPU_Scheduling_Algorithm/3.png
  2_OS/img/4_CPU_Scheduling_Algorithm/4.png
  2_OS/img/4_CPU_Scheduling_Algorithm/5.png
  2_OS/img/4_CPU_Scheduling_Algorithm/6.png
  2_OS/img/4_CPU_Scheduling_Algorithm/7.png
  2_OS/img/4_CPU_Scheduling_Algorithm/8.png
Labels: OS, 발표

#39 [소현] 프로세스와 스레드 내용 추가
  2_OS/03_os_process_thread.md
  2_OS/img/3_process_thread/5.png
  2_OS/img/3_process_thread/6.png
  2_OS/img/3_process_thread/7.png
  2_OS/img/3_process_thread/8.png
Labels: OS, Add

#41 [장우] 파일명 수정
  2_OS/04_os_cpu_scheduling_algorithm.md
Labels: Fix, OS
